<%- include ('./partials/header') %>


<div class="container">
      <div class="card">
        <header class="card-header">
          <div class="card-header-title">
            Enter Your Scores
          </div>
          <div class="card-header-icon">
            <i class="fas fa-dumbbell"></i>
          </div>
        </header>
        <div class="card-content">
          <div class="content">
            <form method="POST" action="/">
                <div class="field">
                  <label class="label">Squat</label>
                  <div class="control has-icons-right">
                    <input class="input is-success" type="number" name="squat" placeholder="150kg..." required>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Bench Press</label>
                  <div class="control has-icons-right">
                    <input class="input is-success" type="number" name="benchPress" placeholder="150kg.." required>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Deadlift</label>
                  <div class="control  has-icons-right">
                    <input class="input is-success" type="number" name="deadlift" placeholder="150kg.." required>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>                
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class = "button is-success" >Submit</button>
                  </div>              
                </div>
            </form>
          </div>
        </div>
      </div>
        <% if(message && message.length > 0) { %>
            <div class="notification">
                <%= message %>
            <button class="delete"></button>
            </div>
            <% } %>
        <div>
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Squat:</th>
                    <th>Bench:</th>
                    <th>Deadlift:</th>
                    <th>Reference:</th>
                    <th>Options:</th>
                  </tr>
                </thead>
                <tbody>
                    <% documents.forEach(function (documents) { %>
                    <tr>
                        <td> <%= documents.squat  %> </td>
                        <td> <%= documents.benchPress  %> </td>
                        <td> <%= documents.deadlift  %> </td>
                        <td>
                            <div class="tooltip-wrap">
                              <span src={helpLogo} class="icon">
                                <i class="fas fa-address-card"></i>
                              </span>
                                <div class="tooltip-content">
                                <p>Name</p>
                                <p>George</p>
                                <p>Level</p>
                                <p>amateur</p>
                                <p>Year</p>
                                <p>2019</p>
                                </div> 
                            </div>
                        </td>
                        <td>
                          <div class="dropdown is-active">
                            <div class="dropdown-trigger">
                              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span class="icon is-small">
                                  <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                                </span>
                              </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                              <div class="dropdown-content">
                                <div class="dropdown-item">
                                    <a class = "btn btn-xs btn-light border" href="/<%= documents._id %>/edit">Edit</a>
                                  </div>
                                  <div class="dropdown-item">
                                    <form class = "delete-form" action="/<%=documents._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-light border" value="Delete">
                                  </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <% }); %>
                    </tbody>
              </table>
        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Powerlifting Scores</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(17px, 19px, 0px);">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="myRadar" width="472" height="208" class="chartjs-render-monitor" style="display: block; width: 472px; height: 208px;"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                      <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> Direct
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Social
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> Referral
                      </span>
                    </div>
                  </div>               
            </div>
        </div>
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(17px, 19px, 0px);">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="myBarChart" style="display: block; width: 668px; height: 320px;" width="668" height="320" class="chartjs-render-monitor"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
var ctx = 'myRadar';

var myRadar = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ['Squat', 'Bench', 'Deadlift'],
            datasets: [{
                label: 'First set',
                data: [<%= documents[0].squat  %>, <%= documents[0].benchPress  %>, <%= documents[0].deadlift  %>],
                backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                ]
            },
            {
                label: 'Second set',
                data: [<%= documents[1].squat  %>, <%= documents[1].benchPress  %>, <%= documents[1].deadlift  %>],
                backgroundColor: [
                        'rgba(54, 162, 235, 0.2)'
                ]            
            }]
    },
    options: {
        scale: {
            angleLines: {
                display: false
            },
            ticks: {
                suggestedMin: 50,
                suggestedMax: 200
            }
        }
    }
});
var ctx = 'myBarChart';
var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['You', 'Elite', 'Advanced', 'Average', 'Beginner'],
                datasets: [{
                    label: 'Levels of strength',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
</script>

<%- include ('./partials/footer') %>
