<%- include ('./partials/header') %>

    <div class="container m-5">
        <div class="jumbotron  m-5">
            <h1 class="display-3"><i class="fas fa-dumbbell"></i> Strength</h1>
            <p class="lead">Discover what you weigh up to.</p>
            <hr class="my-2">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button" value= "onClick()">Take a look</a>
            </p>
        </div>
        <form method="POST" action="/">
            <label>Enter Your Scores</label><br>
            <input type="number" name="squat" placeholder="150kg..." required>
            <input type="number" name="benchPress" placeholder="150kg.." required>
            <input type="number" name="deadlift" placeholder="150kg.." required>
            <input type="submit">
        </form>
        <% if(message && message.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <% } %>
        <div>
            <% documents.forEach(function (documents) { %>
            <ul>
                <li>
                    Squat: <%= documents.squat  %>
                </li>
                <li>
                    Bench: <%= documents.benchPress  %>
                </li>
                <li>
                    Deadlift: <%= documents.deadlift  %>
                </li>
            </ul>
            <div>
                <a class = "btn btn-xs btn-light border" 
                href="/<%= documents._id %>/edit">
                Edit
                </a>
                <form class = "delete-form" action="/<%=documents._id %>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-xs btn-light border" value="Delete">
                </form>
            </div> 
            <% }); %>
        </div>
        <div class="container d-flex  " style= "position: relative; height: 40vh; width:80vw;">
                <canvas id="myRadar"></canvas>
                <div class="container">
                    <canvas id="myBarChart"></canvas>
                </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
var ctx = 'myRadar';

var myRadar = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ['Squat', 'Bench', 'Deadlift'],
        datasets: [{
            data: [<%= documents[0].squat  %>, <%= documents[0].benchPress  %>, <%= documents[0].deadlift  %>]
        }]
    },
    options: {
        scale: {
            angleLines: {
                display: false
            },
            ticks: {
                suggestedMin: 50,
                suggestedMax: 200
            }
        }
    }
});
var ctx = 'myBarChart';
var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['You', 'Elite', 'Advanced', 'Average', 'Beginner'],
                datasets: [{
                    label: 'Levels of strength',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
</script>

<%- include ('./partials/footer') %>
